<%= turbo_frame_tag "group_#{@group.id}_post_#{@post.id}" do %>
  <div class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 p-2">
    <div class="flex justify-between py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= link_to group_post_comments_path(@group, @post), data: { turbo: false }, class: "w-full block max-w-sm" do %>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= @post.title %></h5>
        <p class="font-normal text-gray-700 dark:text-gray-400"><%= @post.content %></p>
      <% end %>
      <div>
        <%= button_to "Edit", edit_group_post_path(@group, @post), method: :get, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
        <%= button_to "Delete", group_post_path(@group, @post), method: :delete, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
      </div>
    </div>
  </div>
<% end %>
