<% view_context.turbo_frame_tag @group do %>
  <%= form_with(model: @group) do |form| %>
    <div>
      <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
    </div>
    <div class="mt-4">
      <%= form.label :access, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400" %>
      <%= form.select :access, options_for_select(Groups::Access::VALID_ACCESSES, form.object.access), {}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div class="mt-4">
      <%= form.submit (@group.new_record? ? "Create" : "Save"), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
    </div>
  <% end %>
<% end %>
