<!DOCTYPE html>
<html>
<head>
  <title>CommunityPlatform</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
<%= render(HeaderComponent.new(active_link: get_header_active_link)) %>
<div class="container mx-auto mt-4">
  <%= turbo_frame_tag "turbo_messages" %>
  <% if notice.present? %>
    <div data-controller="alert" class="flex justify-center mt-1 mb-1 p-4 text-green-700 border rounded border-green-900/10 bg-green-50" role="alert">
      <strong class="text-sm font-medium"> <%= notice %> </strong>
    </div>
  <% end %>
  <% if alert.present? %>
    <div data-controller="alert" class="flex justify-center mt-1 mb-1 p-4 text-red-700 border rounded border-red-900/10 bg-red-50" role="alert">
      <strong class="text-sm font-medium"> <%= alert %> </strong>
    </div>
  <% end %>
  <%= yield %>
</div>
<%= yield :modal %>
</body>
</html>
