<div class="max-w-lg mx-auto">
  <h1 class="text-2xl font-bold text-center text-indigo-600 sm:text-3xl">Get started today</h1>
  <!--<p class="max-w-md mx-auto mt-4 text-center text-gray-500">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sunt dolores deleniti inventore quaerat
    mollitia?
  </p>-->
  <div class="mt-4">
    <%= render 'users/shared/error_messages' %>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { turbo: false }, class: "p-8 mt-6 mb-0 space-y-4 rounded-lg shadow-2xl" }) do |f| %>
    <p class="text-lg font-medium text-error">Sign up to your account</p>
    <div>
      <%= f.label :name, class: "text-sm font-medium" %><br/>
      <%= f.text_field :name, autofocus: true, autocomplete: false, required: true, class: "w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm" %>
    </div>
    <div>
      <%= f.label :email, class: "text-sm font-medium" %><br/>
      <%= f.email_field :email, autocomplete: false, required: true, class: "w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm" %>
    </div>
    <div>
      <%= f.label :password, class: "text-sm font-medium" %><br/>
      <%= f.password_field :password, autocomplete: "new-password", required: true, class: "w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm" %>
    </div>
    <div>
      <%= f.label :password_confirmation, class: "text-sm font-medium" %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm" %>
    </div>
    <%= f.button "Sign up", type: :submit, name: :commit, value: "Sign up", class: "block w-full px-5 py-3 text-sm font-medium text-white bg-indigo-600 rounded-lg" %>
    <p class="text-sm text-center text-gray-500">
      Already have account?
      <%= link_to "Sign in", new_user_session_path, class: "underline" %>
    </p>
  <% end %>
</div>
